{% extends 'base.html.twig' %}
{% block body %}
    <section class="films">
        {% for film in films %}
            <div>
                <h2>{{ film.titre }}</h2>
                <div class="metadata"> Film publié le {{ film.annee | date('d/m/Y')}} et dure {{ film.duree | date('H:i')}} heures</div>
                <img src="{{ film.image }}" alt="tutodidacte" />
                {{ film.synopsys | raw }}
                <p>2€</p>
                <p>Disponible en rayon : {{ film.disponibilite }}</p>
                {% if film.disponibilite == true %}
                    <a href="{{ path('cart_add', {'id' : film.id}) }}"<button type="button" class="btn btn-success"> Ajouter à mon panier </button></a>
                {% else %}
                    <input type="button" value="Film indisponible" disabled="disabled">
                {% endif %}
            </div>
        {% endfor %}
    </section>
    
{% endblock %}