{% extends 'base.html.twig' %}

{% block title %}Hello FilmsController!{% endblock %}

{% block body %}
<form action={{ path('apicall')}} method=post>
            <input id="search_films" name="search_films"type="search" placeholder="Taper le nom d'un film">
            <button type=submit >Rechercher</button>
</form>
{% endblock %}
