{% extends "/base.html.twig" %}

{% block body %}
<h1> {{ title }} </h1>
<section class="d-flex justify-content-around">
<div class="border border-success rounded-pill">
	<a href="#">Connexion</a>
</div>
<div class="border border-warning rounded-pill">
	<a href="#">Inscription</a>
</div>
</section>
{% endblock %}