{% extends 'base.html.twig' %}
{% block body %}
    <section class="films">
        {% for movie in movies %}
            <div>
                <h2>{{ movie.title }}</h2>
                <div class="metadata"> Film publié le {{ movie.year | date('d/m/Y')}} et dure {{ movie.runtime | date('H:i')}} heures</div>
                <img src="{{ film.image }}" alt="tutodidacte" />

                <!--REPRENDRE ICI MODIFE DE FILM A MOVIE
                    NE PAS OUBLIER DE MODIF LA BOUCLE FOR ENSUITE QUAND FIXTURES MOVIE FAITE !!!-->
                {{ film.synopsys | raw }}
                <p>2€</p>
                <p>Disponible en rayon : {{ movie.disponibilite }}</p>
                {% if movie.disponibilite == true %}
                    <a href="{{ path('cart_add', {'id' : movie.id}) }}"<button type="button" class="btn btn-success"> Ajouter à mon panier </button></a>
                {% else %}
                    <input type="button" value="Film indisponible" disabled="disabled">
                {% endif %}
            </div>
        {% endfor %}
    </section>
    
{% endblock %}