{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}
    <form action={{ path('apicall')}} method=post>
            <input id="search_movie" name="search_movie"type="search" placeholder="Taper le nom d'un film">
            <button type=submit >Rechercher</button>
    </form>
{#
    {{form_start(form)}}
    {{form_label(form.Title)}}
    {{form_end(form)}}
    {{form_start(form)}}
    {{form_label(form.Year)}}
    {{form_end(form)}}
    {{form_start(form)}}
    {{form_label(form.Runtime)}}
    {{form_end(form)}}
    {{form_start(form)}}
    {{form_label(form.Poster)}}
    {{form_end(form)}}
    {{form_start(form)}}
    {{form_label(form.Plot)}}
    {{form_end(form)}}
    {{form_start(form)}}
    {{form_label(form.Release)}}
    {{form_end(form)}}
    {{form_start(form)}}
    {{form_label(form.Genre)}}
    {{form_end(form)}}
    {{form_start(form)}}
    {{form_label(form.Director)}}
    {{form_end(form)}}
    {{form_start(form)}}
    {{form_label(form.Language)}}
    {{form_end(form)}}
    {{form_start(form)}}
    {{form_label(form.Country)}}
    {{form_end(form)}}
    {{form_start(form)}}
    {{form_label(form.Awards)}}
    {{form_end(form)}}
    {{form_start(form)}}
    {{form_label(form.Type)}}
    {{form_end(form)}}
    {{form_start(form)}}
    {{form_label(form.DVD)}}
    {{form_end(form)}}
    {{form_start(form)}}
    {{form_label(form.Production)}}
    {{form_end(form)}}

    #}
{% endblock %}
