<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
    </head>
    <body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ path('visitor') }}">Accueil</a>
      <a class="navbar-brand" href="{{ path('home') }}">Films</a>
        <a class="navbar-brand" href="{{ path('security_registration') }}">Inscription</a>
             {% if not app.user %} 
     
    <a class="navbar-brand" href="{{ path('security_login')}}" class="nav-link">Connexion</a>
    {% else %}
      
    <a class="navbar-brand" href="{{ path('security_logout')}}" class="nav-link">Déconnexion</a>
     {% endif %}

  <div class="collapse navbar-collapse" id="navbarColor01">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 EasyAdminAutocompleteType" type="text" placeholder="Rechercher">
      <button class="btn btn-warning my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </div>
    <a class="navbar-brand" href="{{ path('cart_index') }}" class="nav-link">Panier</a>
</nav>
<div class="container">
        {% block body %}{% endblock %}
</div>
        {% block javascripts %}{% endblock %}
    </body>
</html>

